@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Mono Light Italic'), local('RobotoMono-LightItalic'), url(https://fonts.gstatic.com/s/robotomono/v5/1OsMuiiO6FCF2x67vzDKAwWny9JZk454Xp_xc03maeM.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'), url(https://fonts.gstatic.com/s/robotomono/v5/N4duVc9C58uwPiY8_59Fz7fB31yxOzP-czbf6AAKCVo.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/y7lebkjgREBJK96VQi37Zp0EAVxt0G0biEntp43Qt6E.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v7/dazS1PrQQuCxC3iOAJFEJZ_TkvowlIOtbR7ePgFOpF4.ttf) format('truetype');
}
@page {
  margin: 2cm;
}
@media print {
  .separator {
    display: none;
  }
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.printdesk {
  background-color: #aaadaa;
}
.printdesk .container {
  background-color: #f0f0f0;
  width: 650px;
  padding: 0 24px 0 0;
  margin: auto;
  margin-bottom: 15px;
  page-break-after: always;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
}
.printdesk p {
  margin-bottom: 0.25cm;
  direction: ltr;
  color: #00000a;
  line-height: 120%;
  text-align: left;
  orphans: 0;
  widows: 0;
}
.printdesk .western {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  line-height: 120%;
  margin: 3px 3px 0 3px;
  orphans: 0;
  widows: 0;
}
.printdesk td .western {
  text-align: right;
}
.printdesk p.cjk {
  font-family: "Source Han Sans CN Regular";
  font-size: 12pt;
  so-language: zh-CN;
}
.printdesk p.ctl {
  font-family: "Lohit Devanagari";
  font-size: 12pt;
  so-language: hi-IN;
}
.printdesk td p {
  margin-bottom: 0cm;
  direction: ltr;
  color: #00000a;
  text-align: left;
  orphans: 0;
  widows: 0;
}
.printdesk td p.cjk {
  font-family: "Source Han Sans CN Regular";
  font-size: 12pt;
  so-language: zh-CN;
}
.printdesk td p.ctl {
  font-family: "Lohit Devanagari";
  font-size: 12pt;
  so-language: hi-IN;
}
.printdesk tr td {
  border: none;
  padding: 0cm;
}
.printdesk div.space {
  height: 1.2em;
}
.printdesk .center {
  text-align: center;
}
.printdesk .underline {
  text-decoration: underline;
}
.printdesk .form-header {
  font-family: "Roboto Slab";
  font-size: 2em;
  padding-left: 24px;
  width: 650px;
}
.printdesk .form-header.center {
  padding-left: 0;
}
.printdesk .form-header-value {
  font-family: "Roboto";
  text-align: right;
}
.printdesk .form-main {
  font-family: "Roboto Slab";
  font-size: 1.2em;
}
.printdesk .form-main-value {
  font-family: "Roboto";
  font-weight: 700;
  display: inline-block;
  width: 240px;
  text-align: right;
}
.printdesk .form-main-title,
.printdesk .form-info-title {
  display: inline-block;
  width: 400px;
  box-sizing: border-box;
  padding-left: 30px;
}
.printdesk .form-info {
  font-family: "Roboto Slab";
  font-size: 1.2em;
  padding-left: 30px;
}
.printdesk .form-info-value {
  font-family: "Roboto Mono", monospace;
  display: block;
  white-space: pre;
  margin: 1em 0px 1em;
  font-size: 0.8em;
  margin-left: 70px;
  text-align: left;
}
.printdesk .tbl-payments table {
  width: 650px;
  vertical-align: top;
  /*cellpadding:"4" cellspacing="0" */
}
.printdesk .tbl-payments td:first-child {
  width: 305px;
  padding-left: 109px;
}
.printdesk .tbl-payments td:nth-child(2) {
  width: 94px;
}
.printdesk .tbl-payments td:nth-child(3) {
  width: 212px;
}
.printdesk .tbl-payments tr.space {
  display: block;
  min-height: 1.2rem;
}
.printdesk .shifted {
  padding-left: 35px;
}
.printdesk .blade-busket {
  width: 100%;
  height: calc(100vh - 250px);
  font-family: "Roboto", sans-serif;
  display: flex;
}
.printdesk .blade-busket .control {
  display: inline-block;
  box-sizing: border-box;
  min-width: 150px;
  height: 100%;
  color: #fff;
  background-color: #333;
}
.printdesk .blade-busket .control ul {
  margin: 0;
  padding: 15px 0 0 0;
  list-style: none;
}
.printdesk .blade-busket .control ul li a {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: #fff;
  display: inline-block;
}
.printdesk .blade-busket .control ul li a div {
  display: inline;
}
.printdesk .blade-busket .control ul li a:hover {
  background-color: #666;
}
.printdesk .blade-busket .control ul li a::before {
  min-width: 10px;
  display: inline-block;
  content: '\00a0';
}
.printdesk .blade-busket .control ul li a:hover::before {
  font: normal normal normal 14px/1 FontAwesome;
  min-width: 10px;
  content: '\f105';
}
.printdesk .blade-busket .busket-content {
  box-sizing: border-box;
  display: flex;
  background-color: #f0f0f0;
  overflow-y: hidden;
  overflow-x: auto;
  width: calc(100% - 150px);
}
.printdesk .blade-busket .busket-content .blade {
  min-width: 250px;
  height: 100%;
}
.printdesk .blade-busket .busket-content .blade .scroll-placeholder {
  height: 20px;
}
.printdesk .blade-busket .busket-content .blade:last-child {
  flex-grow: 1;
  min-width: 600px;
}
.printdesk .blade-busket .busket-content .blade:first-child {
  width: 50px;
  background: black;
}
.printdesk .blade-busket .busket-content .blade-header {
  background: #444;
  height: 2.4rem;
  font-size: 1.2rem;
  line-height: 2;
  border-right: 1px solid #fff;
}
.printdesk .blade-busket .busket-content .blade-header span {
  padding: 24px;
  color: #fff;
}
.printdesk .blade-busket .busket-content .blade-header .fa {
  display: inline;
  color: #fff;
}
.printdesk .blade-busket .busket-content .blade-header .close-glph {
  cursor: pointer;
}
.printdesk .blade-busket .busket-content .blade-header .close-glph:hover {
  color: #c22;
}
.printdesk .blade-busket .busket-content .blade-header table {
  width: 100%;
}
.printdesk .blade-busket .busket-content .blade-header table td {
  height: 2.4rem;
}
.printdesk .blade-busket .busket-content .blade-header table td:nth-child(2) {
  width: 30px;
  text-align: right;
  padding-right: 3px;
}
.printdesk .blade-busket .busket-content .blade-content {
  border-right: 1px solid #333;
  height: calc(100% -  2.4rem);
  overflow-y: auto;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.material-icons.md-12 {
  font-size: 12px;
}
.material-icons.md-14 {
  font-size: 14px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.loader,
.loader:before,
.loader:after {
  background: #008040;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #008040;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
.activePeriod {
  color: blue!important;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
