		@blade-header-height: 2.4rem;
		@busketbg: #f0f0f0;
		@bladebg: #aaa;
		@bladefstbg: #000000;
		@blade-content-border: #333;
		@blade-header-bg: #444;
		@blade-header-border: #fff;
		@blade-header-color: #fff;
		@close-glph-hover: #c22;
		@busket-control-bg: #333;
		@busket-control-color: #fff;
		@busket-control-active-bg: #666;
		@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i|Roboto+Slab:400,700|Roboto:400,700');
		@page {
			margin: 2cm
		}
		
		@media print {
			.separator {
				display: none;
			}
			* {
				background: transparent !important;
				color: black !important;
				box-shadow: none !important;
				text-shadow: none !important;
				filter: none !important;
				-ms-filter: none !important;
			}
			/* Black prints faster: h5bp.com/s */
			a,
			a:visited {
				text-decoration: underline;
			}
			a[href]:after {
				content: " (" attr(href) ")";
			}
			abbr[title]:after {
				content: " (" attr(title) ")";
			}
			.ir a:after,
			a[href^="javascript:"]:after,
			a[href^="#"]:after {
				content: "";
			}
			/* Don't show links for images, or javascript/internal links */
			pre,
			blockquote {
				border: 1px solid #999;
				page-break-inside: avoid;
			}
			thead {
				display: table-header-group;
			}
			/* h5bp.com/t */
			tr,
			img {
				page-break-inside: avoid;
			}
			img {
				max-width: 100% !important;
			}
			@page {
				margin: 0.5cm;
			}
			p,
			h2,
			h3 {
				orphans: 3;
				widows: 3;
			}
			h2,
			h3 {
				page-break-after: avoid;
			}
		}

		.printdesk {
			background-color: #aaadaa;

			.container {
				background-color: #f0f0f0;
				width: 650px;
				padding: 0 24px 0 0;
				margin: auto;
				margin-bottom: 15px;
				page-break-after: always;
				box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
				-webkit-box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
				-moz-box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
			}

			p {
				margin-bottom: 0.25cm;
				direction: ltr;
				color: #00000a;
				line-height: 120%;
				text-align: left;
				orphans: 0;
				widows: 0
			}

			.western {
				font-family: "Roboto", sans-serif;
				font-size: 12pt;
				line-height: 120%;
				margin: 3px 3px 0 3px;
				orphans: 0;
				widows: 0;
			}

			td .western {
				text-align: right;
			}

			p.cjk {
				font-family: "Source Han Sans CN Regular";
				font-size: 12pt;
				so-language: zh-CN
			}

			p.ctl {
				font-family: "Lohit Devanagari";
				font-size: 12pt;
				so-language: hi-IN
			}

			td p {
				margin-bottom: 0cm;
				direction: ltr;
				color: #00000a;
				text-align: left;
				orphans: 0;
				widows: 0
			}

			td p.cjk {
				font-family: "Source Han Sans CN Regular";
				font-size: 12pt;
				so-language: zh-CN
			}

			td p.ctl {
				font-family: "Lohit Devanagari";
				font-size: 12pt;
				so-language: hi-IN
			}

			tr td {
				border: none;
				padding: 0cm;
			}

			div.space {
				height: 1.2em;
			}

			.center {
				text-align: center;
			}

			.underline {
				text-decoration: underline;
			}

			.form-header {
				font-family: "Roboto Slab";
				font-size: 2em;
				padding-left: 24px;
				width: 650px;
			}

			.form-header.center {
				padding-left: 0;
			}

			.form-header-value {
				font-family: "Roboto";
				text-align: right;
			}

			.form-main {
				font-family: "Roboto Slab";
				font-size: 1.2em;
			}

			.form-main-value {
				font-family: "Roboto";
				font-weight: 700;
				display: inline-block;
				width: 240px;
				text-align: right;
			}

			.form-main-title,
			.form-info-title {
				display: inline-block;
				width: 400px;
				box-sizing: border-box;
				padding-left: 30px;
			}

			.form-info {
				font-family: "Roboto Slab";
				font-size: 1.2em;
				padding-left: 30px;
			}

			.form-info-value {
				font-family: "Roboto Mono", monospace;
				display: block;
				white-space: pre;
				margin: 1em 0px 1em;
				font-size: 0.8em;
				margin-left: 70px;
				text-align: left;
			}

			.tbl-payments {
				table {
					width: 650px;
					vertical-align: top;
					/*cellpadding:"4" cellspacing="0" */
				}
				td:first-child {
					width: 305px;
					padding-left: 109px;
				}
				td:nth-child(2) {
					width: 94px;
				}
				td:nth-child(3) {
					width: 212px;
				}
				tr.space {
					display: block;
					min-height: 1.2rem;
				}
			}

			.shifted {
				padding-left: 35px;
			}

			.blade-busket {
				width: 100%;
				height: calc(~"100vh - 250px");
				font-family: "Roboto", sans-serif;
				display: flex;
				.control {
					display: inline-block;
					box-sizing: border-box;
					min-width: 150px;
					height: 100%;
					color: @busket-control-color;
					background-color: @busket-control-bg;
					ul {
						margin: 0;
						padding: 15px 0 0 0;
						list-style: none;
						li {
							a {
								box-sizing: border-box;
								width: 100%;
								padding: 10px;
								color: @busket-control-color;
								display: inline-block;
								div {
									display: inline;
								}
							}
							a:hover {
								background-color: @busket-control-active-bg
							}
							a::before {
								min-width: 10px;
								display: inline-block;
								content: '\00a0';
							}
							a:hover::before {
								font: normal normal normal 14px/1 FontAwesome;
								min-width: 10px;
								content: '\f105';
							}
						}
					}
				}
				.busket-content {
					box-sizing: border-box;
					display: flex;
					background-color: @busketbg;
					overflow-y: hidden;
					overflow-x: auto;
					width: calc(~"100% - 150px");
					.blade {
						min-width: 250px;
						height: 100%;
						.scroll-placeholder {
							height: 20px;
						}
					}
					.blade:last-child {
						flex-grow: 1;
						min-width: 600px;
					}
					.blade:first-child {
						width: 50px;
						background: black;
					}
					.blade-header {
						background: @blade-header-bg;
						height: @blade-header-height;
						font-size: 1.2rem;
						line-height: 2;
						border-right: 1px solid @blade-header-border;
						span {
							padding: 24px;
							color: @blade-header-color;
						}
						.fa {
							display: inline;
							color: @blade-header-color;
						}
						.close-glph {
							cursor: pointer;
						}
						.close-glph:hover {
							color: @close-glph-hover;
						}
						table {
							width: 100%;
							td {
								height: @blade-header-height;
							}
							td:nth-child(2) {
								width: 30px;
								text-align: right;
								padding-right: 3px;
							}
						}
					}
					.blade-content {
						border-right: 1px solid @blade-content-border;
						height: calc(~"100% - " @blade-header-height);
						overflow-y: auto;
					}
				}
			}
		}
		.divider {
			height: 1px;
			margin: 9px 0;
			overflow: hidden;
			background-color: #e5e5e5;
		}
		.material-icons.md-12 { font-size: 12px; }
		.material-icons.md-14 { font-size: 14px; }
		.material-icons.md-18 { font-size: 18px; }
		.material-icons.md-24 { font-size: 24px; }
		.material-icons.md-36 { font-size: 36px; }
		.material-icons.md-48 { font-size: 48px; }


		.loader,
		.loader:before,
		.loader:after {
			background: #008040;
			-webkit-animation: load1 1s infinite ease-in-out;
			animation: load1 1s infinite ease-in-out;
			width: 1em;
			height: 4em;
		}
		.loader {
			color: #008040;
			text-indent: -9999em;
			margin: 88px auto;
			position: relative;
			font-size: 11px;
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-animation-delay: -0.16s;
			animation-delay: -0.16s;
		}
		.loader:before,
		.loader:after {
			position: absolute;
			top: 0;
			content: '';
		}
		.loader:before {
			left: -1.5em;
			-webkit-animation-delay: -0.32s;
			animation-delay: -0.32s;
		}
		.loader:after {
			left: 1.5em;
		}
		.activePeriod{
			color:blue!important;
		}
		@-webkit-keyframes load1 {
			0%,
			80%,
			100% {
				box-shadow: 0 0;
				height: 4em;
			}
			40% {
				box-shadow: 0 -2em;
				height: 5em;
			}
		}
		@keyframes load1 {
			0%,
			80%,
			100% {
				box-shadow: 0 0;
				height: 4em;
			}
			40% {
				box-shadow: 0 -2em;
				height: 5em;
			}
		}
