<!doctype html>
<html ng-app="itsPay" class="ng-cloak">

<head>
    <title>ITS Payments</title>
    <meta charset="utf-8">
    <meta name="author" content="Куфко Антон Генрихович"/>
    <link href="content/site.css" rel="stylesheet">
</head>
<div ng-controller="billingsCtrl" class="ng-cloak">
    <div ng-repeat="person in persons | orderBy:'FIO'" class="container">
        <div class="form-header underline center">
            Расчётный листок за <span class="form-header-value">{{::date.month}} {{::date.year}}</span>
        </div>
        <div class="space"></div>
        <div class="form-header">
            ФИО: <span class="form-header-value">{{::person.FIO}}</span>
        </div>
        <div class="form-main">
            <span class="form-main-title">Начислено:</span> <span class="form-main-value">{{::person.full_sum | prnumber }}</span>
        </div>
        <div class="space"></div>
        <p class="western shifted">
            в том числе по символам
        </p>
        <div class="space"></div>
        <table class="western tbl-payments">
            <tr>
                <td>
                    отработано дней
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.Days_at_Work}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr>
                <td>
                    стажер
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.sum_c0|prnumber}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    категория III
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.sum_c3|prnumber}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    категория II
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.sum_c2|prnumber}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    категория I
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.sum_c1|prnumber}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr>
                <td>
                    водительские
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.drive|prnumber}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr>
                <td>
                    ежемесячное бонусирование
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.sum_bonus|prnumber}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr>
                <td>
                    Дежурство в выходные и праздничные дни
                </td>
                <td>
                    <p class="western">{{::person.vigil_holiday}}</p>
                </td>
                <td>
                    <p class="western">{{::person.sum_holiday|prnumber}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr>
                <td>
                    Дежурство с 18.00 до 23.00
                </td>
                <td>
                    <p class="western">{{::person.vigil_ev}}</p>
                </td>
                <td>
                    <p class="western">{{::person.sum_ev|prnumber}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr>
                <td>
                    Персональное закрепление
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.p_sum|prnumber}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr>
                <td>
                    Премия по результатам деятельности предприятия
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.free_sum|prnumber}}</p>
                </td>
            </tr>
        </table>
        <div class="space"></div>
        <div class="space"></div>
        <div class="form-main">
            <span class="form-main-title">Выплачено в аванс:</span> <span class="form-main-value">{{::person.av_sum | prnumber }}</span>
        </div>
        <div class="space"></div>
        <div class="form-main">
            <span class="form-main-title">Переведено на карту в дату зарплаты:</span> <span class="form-main-value">{{::person.card_sum | prnumber }}</span>
        </div>
        <div class="space"></div>
        <div class="form-main">
            <span class="form-main-title">Наличными в дату зарплаты:</span> <span class="form-main-value">{{::person.on_hand | prnumber }}</span>
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="form-info">
            <span class="form-info-title">Для информации:</span><br>
            <pre class="form-info-value">{{::person.cmt}}</pre>
        </div>
        <div class="space"></div>
    </div>

    </body>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
</div>
</html>