<div class="container-fluid" ng-controller="salaryParamCtrl as paramCtrl">

    <table class="table table-striped">
        <thead>
        <th>Параметр</th>
        <th>Связан с полем</th>
        <th>Ставка</th>
        <th>Класс</th>
        <th>Иконка</th>
        <th>Активен</th>
        <th>Действия</th>
        </thead>
        <tr ng-repeat="salaryParametr in paramCtrl.paymentParams | orderBy:'id'">
            <td><input type="text" ng-model="salaryParametr.param"></td>
            <td><input type="text" ng-model="salaryParametr.relatedField"></td>
            <td><input type="text" ng-model="salaryParametr.monthlySalary"></td>
            <td><input type="text" ng-model="salaryParametr.class"></td>
            <td><input type="text" ng-model="salaryParametr.icon"></td>
            <td><input type="checkbox" ng-model="salaryParametr.active"
                       ng-true-value="true" ng-false-value="false"></td>
            <td>
                <button ng-disabled="!paramCtrl.hasChanges(salaryParametr)" class="btn btn-primary" type="button"
                ng-click="paramCtrl.editData(salaryParametr)"><span
                        class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
            </td>
        </tr>
        <tr>
            <td><input type="text" ng-model="paramCtrl.newRow.param"></td>
            <td><input type="text" ng-model="paramCtrl.newRow.relatedField"></td>
            <td><input type="text" ng-model="paramCtrl.newRow.monthlySalary"></td>
            <td><input type="text" ng-model="paramCtrl.newRow.class"></td>
            <td><input type="text" ng-model="paramCtrl.newRow.icon"></td>
            <td><input type="checkbox" ng-model="paramCtrl.newRow.active"
                       ng-true-value="true" ng-false-value="false"></td>
            <td>
                <button ng-disabled="!paramCtrl.hasChanges(paramCtrl.newRow)" class="btn btn-danger" type="button" ng-click="paramCtrl.submitData(paramCtrl.newRow)"><span
                        class="glyphicon glyphicon-floppy-save" aria-hidden="true"
                        ></span></button>
            </td>
        </tr>

    </table>

</div>
