<div ng-controller="printCtrl as printData" class="ng-cloak printdesk">
    <div ng-repeat="person in printData.activePeriod.userList | orderBy:'fullname'" class="container">
        <div class="form-header underline center">
            Расчётный листок за <span class="form-header-value">{{printData.getReportDate()}}</span>
        </div>
        <div class="space"></div>
        <div class="form-header">
            ФИО: <span class="form-header-value" ng-bind="person.fullname"></span>
        </div>
        <div class="form-main">
            <span class="form-main-title">Начислено:</span> <span class="form-main-value"
                                                                  ng-bind="person.calculationObject.getUserFullSumReal().toFixed(2)|prnumber"> </span>
        </div>
        <div class="space"></div>
        <p class="western shifted">
            в том числе по символам
        </p>
        <div class="space"></div>
        <table class="western tbl-payments">
            <tr>
                <td>
                    отработано дней
                </td>
                <td>
                </td>
                <td>
                    <p class="western">{{::person.Days_at_Work}}</p>
                </td>
            </tr>
            <tr class="space"></tr>
            <tr ng-repeat="salaryparam in person.calculationObject.symbolsListFilterd()| orderBy:'id'">
                <td><span ng-bind="salaryparam.param"></span>&nbsp;</td>
                <td>
                    <p class="western"
                       ng-bind="printData.getExtendedParamValue(person, salaryparam.relatedField)">
                    </p>
                </td>
                <td>
                    <p class="western"
                       ng-bind="printData.getSumBySymbol(person.calculationObject, salaryparam.id).toFixed(2)|prnumber">
                    </p>
                </td>
            </tr>


            <tr class="space" ng-if="printData.getBonusSum(person) > 0"></tr>
            <tr>
                <td>
                    Премия по результатам деятельности предприятия
                </td>
                <td>
                </td>
                <td>
                    <p class="western" ng-bind="printData.getBonusSum(person)"></p>
                </td>
            </tr>
        </table>
        <div class="space"></div>
        <div class="space"></div>
        <div class="form-main">
            <span class="form-main-title">Выплачено в аванс:</span> <span class="form-main-value"
                                                                          ng-bind="printData.getPreparedSum(person.calculationObject.prepaymentReal)|prnumber"></span>
        </div>
        <div class="space"></div>
        <div class="form-main">
            <span class="form-main-title">Переведено на карту в дату зарплаты:</span> <span class="form-main-value"
                                                                                            ng-bind="person.calculationObject.cardPaymentAmount.toFixed(2)|prnumber">{{::person.card_sum | prnumber }}</span>
        </div>
        <div class="space"></div>
        <div class="form-main">
            <span class="form-main-title">Выплачено в дату зарплаты:</span> <span class="form-main-value"
                                                                                  ng-bind="printData.getPreparedSum(person.calculationObject.postpaymentReal)|prnumber"></span>
        </div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="form-main" ng-if="printData.showAdditionalInfo(person)">
            <span class="form-info-title">Для информации:</span><br>
            <table style="margin-left: 40px">
                <tr ng-repeat="bonus in person.calculationObject.bonuses">
                    <td>
                        <span ng-bind="bonus.name"></span>
                    </td>
                    <td>&nbsp;&nbsp;
                        <span ng-bind="bonus.amount|prnumber"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="space"></div>
    </div>


</div>