<div class="container-fluid" ng-cloak>
    <div class="row">
        <div class="col-md-2" ng-controller="periodformCtr as periods">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="text-align: center">Периоды</h3>
                </div>
                <div class="col-md-12" ng-repeat="period in periods.periodList">
                    <button type="button" class="btn btn-default col-md-12" ng-class="{'activePeriod':periods.isActive(period)}" ng-click="periods.setActive(period)">
                        {{period.periodStart | date:'dd.MM.yyyy' }} - {{period.periodEnd | date:'dd.MM.yyyy' }}
                    </button>
                </div>
            </div>
            <div class="row" style="min-height: 20px">
                <div class="col-md-12">
                    <div class="divider" style="" role="presentation"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary col-md-12" ng-click="periods.setCurrent()">Текущий
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div ng-controller="salaryformCtrl as salaryform">
                <div class="row">
                    <div class="col-md-6 col-md-offset-4">
                        <section ng-show="salaryform.isPeriodSet()">
                            <h2>
                                Расчетный период<br> {{salaryform.activePeriod.periodStart | date: 'dd-MM-yyyy'}} -
                                {{salaryform.activePeriod.periodEnd | date: 'dd-MM-yyyy'}}
                            </h2>
                            <h6 style="text-align: center">(всегод дней: {{salaryform.activePeriod.info.totalDays}},
                                рабочих: {{salaryform.activePeriod.info.workdays}}, выходных:
                                {{salaryform.activePeriod.info.holidays}})</h6>
                            <h3 class="text-center" ng-class="{'text-success':salaryform.getStatusState(),
                            'text-danger':!salaryform.getStatusState(),}">{{salaryform.getStatusText()}}</h3>
                            <h3 class="text-center" ng-class="{'text-success':salaryform.getSaveState(),
                            'text-danger':!salaryform.getSaveState()}">{{salaryform.getSaveText()}}</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-danger pull-right" type="button" ng-click="salaryform.deletePeriod()"
                                    >Удалить период из БД
                                    </button>
                                </div>
                            </div>
                        </section>
                        <h2 ng-show="!salaryform.isPeriodSet()">
                            Расчетный период<br>
                            не выбран
                        </h2>

                    </div>
                </div>
                <div class="form-inline col-md-12">
                    <label for="prepaidDays" class="col-md-3">Дней в авансовом периоде</label>
                    <input class="form-control" id="prepaidDays" name="prepaidDays"
                           ng-model="salaryform.activePeriod.info.prepaymentDays"
                           ng-change="salaryform.change()"
                           int>
                    <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Число дней в авансовом периоде.\nЕсли значение не указано, в расчете будет использовано значение общееЧислоРабочихДней - числоЗарплатныхДней.\n Если числоЗарплатныхДней не указано будет использовано Math.floor(общееЧислоРабочихДней / 2)"></span>
                </div>
                <div class="form-inline col-md-12">
                    <label for="overallDays" class="col-md-3">Дней в после авансовом периоде</label>
                    <input class="form-control" id="overallDays" name="overallDays"
                           ng-model="salaryform.activePeriod.info.postpaymentDays"
                           ng-change="salaryform.change()"
                           int>
                    <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Число дней в зарплатном периоде.\nЕсли значение не указано, в расчете будет использовано значение общееЧислоРабочихДней - числоАвансовыхДней.\n Если числоАвансовыхДней не указано будет использовано Math.ceil(общееЧислоРабочихДней / 2)"></span>
                </div>
                <div class="form-inline col-md-12">
                    <label for="cardAmount" class="col-md-3">Сумма к перечислению на карту</label>
                    <input class="form-control" id="cardAmount" name="cardAmount"
                           ng-model="salaryform.activePeriod.info.cardPaymentAmount"
                           ng-change="salaryform.change()"
                    >
                    <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Сумма для перечисления на карты сотрудников при необходимости"></span>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary pull-right" type="button" ng-click="salaryform.getCalculation()"
                                ng-class="{'disabled': !salaryform.isPeriodSet()}">Расчитать
                        </button>
                        <button class="btn btn-primary pull-right" type="button" ng-click="salaryform.savePeriod()"
                        >Сохранить
                        </button>
                        <a class="btn btn-default pull-right" type="button" ui-sref="print"
                        ><i title="Печать"
                            class="material-icons md-14 text-success">
                            print
                        </i>
                            Печать
                        </a>
                    </div>
                </div>

                <div class="row">
                    <table>
                        <tr>
                            <td><span>К выплате в аванс</span></td>
                            <td class="text-right"><span class="text-right"
                                      ng-bind="salaryform.getFullPrepaySum()|prnumber"></span>
                                <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Сумма для перечисления в аванс"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <span>К выплате в ЗП</span>
                            </td>
                            <td class="text-right">
                                <span class="text-right"
                                      ng-bind="salaryform.getFullPostpaySum()|prnumber"></span>
                                <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Сумма для перечисления в ЗП (без учета карт)"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>К выплате пероводом на карты</span>
                            </td>
                            <td class="text-right">
                                <span class="text-right"
                                      ng-bind="salaryform.getFullCardSum()|prnumber"></span>
                                <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Общая сумма в периоде для перевода на карты"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>ФОТ</span>
                            </td>
                            <td class="text-right">
                                <span class="text-right"
                                      ng-bind="salaryform.getFullFOTSum()|prnumber"></span>
                                <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                      data-toggle="tooltip"
                                      data-placement="right"
                                      title="Полный объем ФОТ"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="table table-striped">
                    <thead>
                    <th>ФИО</th>
                    <th>Индивидуальные параметры расчета</th>
                    <th>По символам</th>
                    <th>
                        <div class="row">
                            <div class="col-md-12">
                                Аванс
                            </div>
                            <div class="col-md-12">
                                <label for="prepaidLock">Зафиксировать</label>
                                <input type="checkbox" ng-model="salaryform.activePeriod.info.prepaidLock"
                                       ng-true-value="true" ng-false-value="false" id="prepaidLock"
                                >
                                <span
                                        class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                        data-toggle="tooltip" data-placement="right"
                                        title="Если отмечено то при выполнении Расчета перерасчет аванса не будет произведен."></span>
                            </div>

                        </div>
                    </th>
                    <th>
                        <div class="row">
                            <div class="col-md-12">
                                ЗП
                            </div>
                            <div class="col-md-12">
                                <label for="postpaidLock">Зафиксировать</label>
                                <input type="checkbox" ng-model="salaryform.activePeriod.info.postpaidLock"
                                       ng-true-value="true" ng-false-value="false" id="postpaidLock"
                                >
                                <span
                                        class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                        data-toggle="tooltip" data-placement="right"
                                        title="Если отмечено то при выполнении Расчета перерасчет ЗП(включая бонусы, карточные начисления, опланты за доп работы)  не будет произведен."></span>
                            </div>

                        </div>
                    </th>
                    </th>
                    <th>На карту</th>
                    <th>Итого за месяц</th>
                    </thead>
                    <tr ng-repeat="user in salaryform.activePeriod.userList |orderBy:'fullname'">
                        <td>
                            <h3><span ng-bind="user.fullname"></span></h3>
                            <div ng-if="salaryform.haveCountedParams(user)">
                                <table>
                                    <thead>
                                    <th colspan="2">Доп.работы</th>
                                    </thead>
                                    <tr ng-repeat="param in user.calculationObject.incidentSymbolListFiltered()">
                                        <td>
                                            <i title="{{param.param}}"
                                               class="material-icons md-18 {{param.class || 'text-success'}}">
                                                {{param.icon || 'android'}}
                                            </i>
                                        </td>
                                        <td>
                                            <span ng-bind="salaryform.getExtendedParamValue(user, param.relatedField)"></span>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div ng-if="salaryform.haveAdditionalData(user.calculationObject)">
                                <table>
                                    <thead>
                                    <th colspan="3">События (Мес/Год)</th>
                                    </thead>
                                    <tr ng-repeat="event in user.calculationObject.extendedParams.events">
                                        <td><i title="{{salaryform.getCalendarTypeById(event.event_id).fullname}}"
                                               class="material-icons md-18 {{salaryform.getCalendarTypeById(event.event_id).class}}">{{salaryform.getCalendarTypeById(event.event_id).icon}}</i>
                                        </td>
                                        <td><span ng-bind="event.thisMonth"></span></td>
                                        <td><span ng-bind="event.thisYear"></span></td>
                                    </tr>
                                </table>
                            </div>

                        </td>
                        <td>
                            <div class="column">
                                <div class="form-inline"
                                     ng-class="{'alert alert-warning': salaryform.activePeriod.info.prepaidLock}"
                                     style="padding: 2px;">
                                    <label for="prepaymentDaysCount_{{user.id}}" class="col-sm-3">Аванс</label>
                                    <input class="form-control input-sm" id="prepaymentDaysCount_{{user.id}}"
                                           name="prepaymentDaysCount_{{user.id}}"
                                           ng-model="user.calculationObject.prepaymentDays"
                                           ng-change="salaryform.change()" int
                                           ng-class="{'disabled': salaryform.activePeriod.info.prepaidLock}"
                                           ng-readonly="salaryform.activePeriod.info.prepaidLock">
                                    <span class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                          data-toggle="tooltip" data-placement="right"
                                          title="Индивидуальное число дней в авансовом периоде.\nЕсли значение не указано, в расчете будет использовано значение общееЧислоРабочихДней - числоЗарплатныхДней.\n Если числоЗарплатныхДней не указано будет использовано Math.floor(общееЧислоРабочихДней / 2)"></span>
                                </div>
                                <div class="form-inline"
                                     ng-class="{'alert alert-warning': salaryform.activePeriod.info.postpaidLock}"
                                     style="padding: 2px;">
                                    <label for="postpaymentDaysCount_{{user.id}}" class="col-sm-3">Расчет</label>
                                    <input class="form-control input-sm" id="postpaymentDaysCount_{{user.id}}"
                                           name="postpaymentDaysCount_{{user.id}}"
                                           ng-model="user.calculationObject.postpaymentDays"
                                           ng-change="salaryform.change()" int
                                           ng-class="{'disabled': salaryform.activePeriod.info.postpaidLock}"
                                           ng-readonly="salaryform.activePeriod.info.postpaidLock"
                                    >
                                    <span
                                            class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                            data-toggle="tooltip" data-placement="right"
                                            title="Индивидуальное число дней в зарплатном периоде.\nЕсли значение не указано, в расчете будет использовано значение общееЧислоРабочихДней - числоАвансовыхДней.\n Если числоАвансовыхДней не указано будет использовано Math.ceil(общееЧислоРабочихДней / 2)"></span>
                                </div>

                                <div ng-if="salaryform.isCardPaymentRequired(user.calculationObject)" class="form-inline"
                                     ng-class="{'alert alert-warning': salaryform.activePeriod.info.postpaidLock}"
                                     style="padding: 2px;">
                                    <label for="postpaymentDaysCount_{{user.id}}" class="col-sm-3">На карту</label>
                                    <input class="form-control input-sm" id="cardPaymentAmount_{{user.id}}"
                                           name="cardPaymentAmount_{{user.id}}"
                                           ng-model="user.calculationObject.cardPaymentAmountPlaned"
                                           ng-change="salaryform.change()" int
                                           ng-class="{'disabled': salaryform.activePeriod.info.postpaidLock}"
                                           ng-readonly="salaryform.activePeriod.info.postpaidLock"
                                    >
                                    <span
                                            class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                            data-toggle="tooltip" data-placement="right"
                                            title="Индивидуальная оплата на карту. Если не указана берется из общих настроек"></span>
                                </div>

                            </div>
                        </td>
                        <td>
                            <table>
                                <thead>
                                <th>Параметр</th>
                                <th>Аванс,&nbsp;р.</th>
                                <th>ЗП,&nbsp;р.
                                    <span
                                            class="glyphicon glyphicon-question-sign text-primary" aria-hidden="true"
                                            data-toggle="tooltip" data-placement="right"
                                            title="Основные начисления согласно параметрам сотрудника."></span>
                                </th>
                                </thead>
                                <tr ng-repeat="salaryparam in user.calculationObject.symbolsListFilterd()| orderBy:'id'">
                                    <td><span ng-bind="salaryparam.param"></span>&nbsp;</td>
                                    <td><span
                                            ng-if="salaryform.getPrepaidBySymbol(user.calculationObject,salaryparam.id)!=0"
                                            ng-bind="salaryform.getPrepaidBySymbol(user.calculationObject,salaryparam.id).toFixed(2)|prnumber"></span>&nbsp;
                                    </td>
                                    <td><span
                                            ng-if="salaryform.getPostpaidBySymbol(user.calculationObject,salaryparam.id)!=0"
                                            ng-bind="salaryform.getPostpaidBySymbol(user.calculationObject,salaryparam.id).toFixed(2)|prnumber"></span>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <b>Бонус/Малус</b>
                                        <span
                                                class="glyphicon glyphicon-question-sign text-primary"
                                                aria-hidden="true"
                                                data-toggle="tooltip" data-placement="right"
                                                title="Дополнительные разовые начисления. Выплачиваются в расчет"></span>

                                    </td>
                                </tr>
                                <tr ng-repeat="bonus in user.calculationObject.bonuses">
                                    <td colspan="1">
                                        <span ng-bind="bonus.name"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="bonus.amount|prnumber"
                                              ng-class="salaryform.classForAmount(bonus.amount)"></span>
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-danger" type="button"
                                                ng-click="salaryform.removeBonus(user, bonus)"
                                                title="Удалить из расчета">
                                            <i class="material-icons md-12"
                                            >remove_circle_outline</i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <form name="bonusFor_{{user.id}}" ng-submit="salaryform.addBonus(user)">
                                <table>
                                    <tr>
                                        <td colspan="2">
                                            <input class="form-control input-sm" type="text" placeholder="основание"
                                                   id="editBonusName_{{user.id}}"
                                                   ng-model="salaryform.editBonusName[user.id]" required>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input class="form-control input-sm" type="text" placeholder="сумма"
                                                       ng-model="salaryform.editSum[user.id]" required>
                                                <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary" type="submit"
                                                        title="Добавить в расчет">
                                                    <i class="material-icons md-12"
                                                    >add_circle_outline</i>
                                                </button>
                                            </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                        <td ng-class="{'alert alert-warning': salaryform.activePeriod.info.prepaidLock}">
                            <div><label>Расчетно&nbsp;</label>
                                <span ng-bind="user.calculationObject.prepaymentCalc.toFixed(2)|prnumber"></span>
                            </div>
                            <div class="form-inline">
                                <label class="col-sm-4" for="prepaymentReal_{{user.id}}">К&nbsp;выдаче</label>
                                <input class="form-control input-sm col-sm-offset-1 col-sm-6"
                                       id="prepaymentReal_{{user.id}}"
                                       ng-model="user.calculationObject.prepaymentReal"
                                       ng-change="salaryform.change()"

                                       ng-readonly="salaryform.activePeriod.info.prepaidLock">
                            </div>
                        </td>
                        <td ng-class="{'alert alert-warning': salaryform.activePeriod.info.postpaidLock}">
                            <div><label>Расчетно&nbsp;</label>
                                <span ng-bind="user.calculationObject.postpaymentCalc.toFixed(2)|prnumber"></span>
                            </div>
                            <div class="form-inline">
                                <label class="col-sm-4" for="postpaymentReal_{{user.id}}">К&nbsp;выдаче</label>
                                <input class="form-control input-sm col-sm-offset-1 col-sm-6"
                                       id="postpaymentReal_{{user.id}}"
                                       ng-model="user.calculationObject.postpaymentReal"
                                       ng-change="salaryform.change()"
                                       ng-readonly="salaryform.activePeriod.info.postpaidLock">

                            </div>
                        </td>
                        <td ng-class="{'alert alert-warning': salaryform.activePeriod.info.postpaidLock}">
                            <span ng-bind="user.calculationObject.cardPaymentAmount.toFixed(2)|prnumber"></span>
                        </td>
                        <td>
                            <div>
                                <label>Расчетно&nbsp;</label>
                                <span ng-bind="user.calculationObject.getUserFullSumCalc().toFixed(2)|prnumber"></span>
                            </div>
                            <div>
                                <label>Факт&nbsp;</label>
                                <span ng-bind="user.calculationObject.getUserFullSumReal().toFixed(2)|prnumber"></span>
                            </div>
                            <div>
                                <label>Дельта&nbsp;</label>
                                <span ng-bind="user.calculationObject.getDelta().toFixed(2)|prnumber"
                                      ng-class="salaryform.classForAmount(user.calculationObject.getDelta())"
                                ></span>
                            </div>

                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>