<h3>Расчет ЗП</h3>
<p class="text-justify">
    В разделе <b>Справочники->Параметры</b> оплаты вводятся данные по категориям оплат.<br>
Если связанное поле не указано, то начисления производятся пропорционально отработанным дням,
иначе начисления пропорциональны значению соответствующего поля в ведомости.
</p>
<p class="text-justify">
    В разделее <b>Справочники->Параметры</b>b> сотрудников отмечаются привязанные к сотруднику параметры начисления.
</p>
<p class="text-justify">
В разделе зарплата....
</p>