@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i|Roboto+Slab:400,700|Roboto:400,700');
@page {
  margin: 2cm;
}
@media print {
  .separator {
    display: none;
  }
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
body {
  background-color: #aaadaa;
}
.container {
  background-color: #f0f0f0;
  width: 650px;
  padding: 0 24px 0 0;
  margin: auto;
  margin-bottom: 15px;
  page-break-after: always;
  box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 13px 2px rgba(0, 0, 0, 0.75);
}
p {
  margin-bottom: 0.25cm;
  direction: ltr;
  color: #00000a;
  line-height: 120%;
  text-align: left;
  orphans: 0;
  widows: 0;
}
.western {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  line-height: 120%;
  margin: 3px 3px 0 3px;
  orphans: 0;
  widows: 0;
}
td .western {
  text-align: right;
}
p.cjk {
  font-family: "Source Han Sans CN Regular";
  font-size: 12pt;
  so-language: zh-CN;
}
p.ctl {
  font-family: "Lohit Devanagari";
  font-size: 12pt;
  so-language: hi-IN;
}
td p {
  margin-bottom: 0cm;
  direction: ltr;
  color: #00000a;
  text-align: left;
  orphans: 0;
  widows: 0;
}
td p.cjk {
  font-family: "Source Han Sans CN Regular";
  font-size: 12pt;
  so-language: zh-CN;
}
td p.ctl {
  font-family: "Lohit Devanagari";
  font-size: 12pt;
  so-language: hi-IN;
}
tr td {
  border: none;
  padding: 0cm;
}
div.space {
  height: 1.2em;
}
.center {
  text-align: center;
}
.underline {
  text-decoration: underline;
}
.form-header {
  font-family: "Roboto Slab";
  font-size: 2em;
  padding-left: 24px;
  width: 650px;
}
.form-header.center {
  padding-left: 0;
}
.form-header-value {
  font-family: "Roboto";
  text-align: right;
}
.form-main {
  font-family: "Roboto Slab";
  font-size: 1.2em;
}
.form-main-value {
  font-family: "Roboto";
  font-weight: 700;
  display: inline-block;
  width: 240px;
  text-align: right;
}
.form-main-title,
.form-info-title {
  display: inline-block;
  width: 400px;
  box-sizing: border-box;
  padding-left: 30px;
}
.form-info {
  font-family: "Roboto Slab";
  font-size: 1.2em;
  padding-left: 30px;
}
.form-info-value {
  font-family: "Roboto Mono", monospace;
  display: block;
  white-space: pre;
  margin: 1em 0px 1em;
  font-size: 0.8em;
  margin-left: 70px;
  text-align: left;
}
.tbl-payments table {
  width: 650px;
  vertical-align: top;
  /*cellpadding:"4" cellspacing="0" */
}
.tbl-payments td:first-child {
  width: 305px;
  padding-left: 109px;
}
.tbl-payments td:nth-child(2) {
  width: 94px;
}
.tbl-payments td:nth-child(3) {
  width: 212px;
}
.tbl-payments tr.space {
  display: block;
  min-height: 1.2rem;
}
.shifted {
  padding-left: 35px;
}
.blade-busket {
  width: 100%;
  height: calc(100vh - 250px);
  font-family: "Roboto", sans-serif;
  display: flex;
}
.blade-busket .control {
  display: inline-block;
  box-sizing: border-box;
  min-width: 150px;
  height: 100%;
  color: #fff;
  background-color: #333;
}
.blade-busket .control ul {
  margin: 0;
  padding: 15px 0 0 0;
  list-style: none;
}
.blade-busket .control ul li a {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: #fff;
  display: inline-block;
}
.blade-busket .control ul li a div {
  display: inline;
}
.blade-busket .control ul li a:hover {
  background-color: #666;
}
.blade-busket .control ul li a::before {
  min-width: 10px;
  display: inline-block;
  content: '\00a0';
}
.blade-busket .control ul li a:hover::before {
  font: normal normal normal 14px/1 FontAwesome;
  min-width: 10px;
  content: '\f105';
}
.blade-busket .busket-content {
  box-sizing: border-box;
  display: flex;
  background-color: #f0f0f0;
  overflow-y: hidden;
  overflow-x: auto;
  width: calc(100% - 150px);
}
.blade-busket .busket-content .blade {
  min-width: 250px;
  height: 100%;
}
.blade-busket .busket-content .blade .scroll-placeholder {
  height: 20px;
}
.blade-busket .busket-content .blade:last-child {
  flex-grow: 1;
  min-width: 600px;
}
.blade-busket .busket-content .blade:first-child {
  width: 50px;
  background: black;
}
.blade-busket .busket-content .blade-header {
  background: #444;
  height: 2.4rem;
  font-size: 1.2rem;
  line-height: 2;
  border-right: 1px solid #fff;
}
.blade-busket .busket-content .blade-header span {
  padding: 24px;
  color: #fff;
}
.blade-busket .busket-content .blade-header .fa {
  display: inline;
  color: #fff;
}
.blade-busket .busket-content .blade-header .close-glph {
  cursor: pointer;
}
.blade-busket .busket-content .blade-header .close-glph:hover {
  color: #c22;
}
.blade-busket .busket-content .blade-header table {
  width: 100%;
}
.blade-busket .busket-content .blade-header table td {
  height: 2.4rem;
}
.blade-busket .busket-content .blade-header table td:nth-child(2) {
  width: 30px;
  text-align: right;
  padding-right: 3px;
}
.blade-busket .busket-content .blade-content {
  border-right: 1px solid #333;
  height: calc(100% -  2.4rem);
  overflow-y: auto;
}
