<div class="container-fluid" ng-controller="userparmCtrl as param">
    <form name="usersParam" ng-submit="param.submitData()">
        <table  class="table table-striped">
            <thead>
            <th>ФИО</th>
            <th ng-repeat="param in param.userparams |filter: {active: true} | orderBy:'id'"><span ng-bind="param.param"></span></th>
            </thead>
            <tr ng-repeat="user in param.userlist |filter: {state: 1}|orderBy:'fullname'">
                <td><span ng-bind="user.fullname"></span></td>
                <td ng-repeat="par in param.userparams |filter: {active: true} | orderBy:'id'"><input type="checkbox" ng-model="param.userParamsList[user.id][par.id]"
                ng-true-value="1" ng-false-value="0"
                >
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary pull-right" type="submit">Сохранить</button>
            </div>
        </div>
    </form>
</div>
